<nav>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    {% if user.profile.role in 'member custom_admin finance' %}
      <a href="{% url 'add_expense' %}">Add Expense</a>
    {% endif %}
    {% if user.profile.role == 'finance' %}
      <a href="{% url 'reports' %}">Reports</a>
    {% endif %}
    {% if user.profile.role == 'custom_admin' or user.profile.role == 'finance' %}
      <a href="{% url 'approve' %}">Approve Expenses</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
  </nav>